<h1 class='notelist'>Edit profile</h1>
<div class='col-md-9 col-xs-12'>
  <%= form_for [current_user, @profile] do |f| %>
    <div class='col-md-6 col-xs-6'>
      <p>
        <%= f.label :first_name, class: 'notelist' %>
        <%= f.text_field :first_name, required: true, class: 'form-control' %>
      </p>
    </div>
    <div class='col-md-6 col-xs-6'>
      <p>
        <%= f.label :last_name, class: 'notelist' %>
        <%= f.text_field :last_name, required: true, class: 'form-control' %>
      </p>
    </div>
    <div class='col-md-6 col-xs-6'>
      <p>
        <%= f.label :birtday, class: 'notelist' %> 
        <%= f.text_field :birtday, type: 'date', required: true, class: 'form-control' %>
      </p>
    </div>
    <div class='col-md-6 col-xs-6'>
      <p>
        <%= f.label :avatar %><br>
        <%= f.file_field :avatar, { class: 'file-input filestyle', type: 'file' } %>
      </p>
    </div>
    <div class='col-md-12 col-xs-12'>
      <%= f.submit 'Update', class: 'btn btn-success' %>
      <%= link_to 'Back', user_profile_path, class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>
