<div class='col-lg-8 col-sm-12'>
  <div class='card hovercard'>
    <div class='card-background'>
      <%= image_tag @profile.avatar_url(:thumb) %>
    </div>
    <div class='useravatar'>
      <%= image_tag @profile.avatar_url(:thumb), class: 'img-rounded' %>
    </div>
    <div class='card-info'> 
      <span class='card-title'>
        <%= @profile.full_name %>
        <% if require_user_profile %>
          <%= link_to edit_user_profile_url do %>
            <i class='fa fa-1x fa-pencil' aria-hidden='true'></i>
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
  <div class='btn-pref btn-group btn-group-justified btn-group-lg' role='group' aria-label='...'>
    <div class='btn-group' role='group'>
      <button type='button' id='stars' class='btn btn-primary' href='#tab1' data-toggle='tab'><span class='glyphicon glyphicon-star' aria-hidden='true'></span>
      <div class='hidden-xs'>Info</div>
      </button>
    </div>
  </div>
  <div class='well'>
    <div class='tab-content'>
      <div class='tab-pane fade in active' id='tab1'>
        <div class='row'>
          <table class='table'>
            <tr>
              <th>
                Full name:
              </th>
              <td>
                <%= @profile.full_name %>
              </td>
            </tr>
            <tr>
              <th>
                Email:
              </th>
              <td>
                <%= @profile.user.email %>
              </td>
            </tr>
            <tr>
              <th>
                Birtday:
              </th>
              <td>
                <%= @profile.birtday %>
              </td>
            </tr>    
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
