<div class='col-md-6 col-xs-12 col-md-offset-3'>
  <h1>Log in</h1>
  <%= form_tag sessions_path do %>
    <p>
      <%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email], autofocus: true, required: true, placeholder: 'Email', class: 'form-control' %>
    </p>
    <p>
      <%= label_tag :password %><br />
      <%= password_field_tag :password, nil, required: true, placeholder: 'Password', class: 'form-control' %>
    </p>
    <br>
    <center>
      <p>Log in via social networks:</p>
      <tr>
        <td>
          <%= link_to 'auth/vkontakte' do %>
            <span class='fa-stack fa-lg'>
              <i class='fa fa-circle-o fa-stack-2x'></i>
              <i class='fa fa-vk fa-stack-1x'></i>
            </span>
          <% end %>
        </td>
        <td>
          <%= link_to 'auth/facebook' do %>
            <span class='fa-stack fa-lg'>
              <i class='fa fa-circle-o fa-stack-2x'></i>
              <i class='fa fa-facebook fa-stack-1x'></i>
            </span>
          <% end %>
        </td>
      </tr>
    </center>
    <p>
      <%= submit_tag 'Log in', class: 'btn btn-primary' %>
    </p>
  <% end %>
</div>
