  <div class='form well col-md-7'>
    <div class='row'>
    <div class='col-md-7'>
      <p>
        <div>
          <h2>Listing Notes
            <% if current_user %>
              <%= link_to 'New track', new_track_path, class: 'btn btn-default' %>
            <% end %>
          </h2>
        </div>
      </p>
    </div>
  </div>
   <div class='row'>
    <div class='col-md-7'>
      <% @tracks.each do |track| %>
      <div class='form-group my-style-articles'>
        <h3><%= track.name %></h3>
        <%= link_to 'Show', track_path(track), class: 'btn btn-default' %>
      </div> 
    <% end %> 
    </div>
  </div>
  </div>
</div>
