<div class='container col-md-12 my-style-content notelist'>
  <div class='row my-style-walls'>
    <div class='row'>
      <div class='col-md-10 wall'>
        <p>
          <h4><%= @track.name %></h4>
        </p> 
        <p>
          <strong>Text song:</strong>
          <p>
            <%= @track.description.html_safe %>
          </p>
        </p>
      </div>  
    </div>
    <%= link_to 'Back', tracks_path, class: 'btn btn-success' %>
    <% if permissions_tracks %>
      <%= link_to 'Update', edit_track_path, class: 'btn btn-warning' %>
      <%= link_to 'Destroy', track_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% end %>
    <div class='row'>
      <h3>Add chord:</h3>
      <%= form_for([@track, @track.chords.build], remote: true) do |f| %>
        <div id='my-new-chord'>
          <p>
          <div class='row'>
            <div class='col-md-10'>
              <ul class='nav nav-pills'>
                <li role='presentation' class='active'><a href='#tab-1' data-toggle='tab'>A</a></li>
                <li role='presentation'><a href='#tab-2' data-toggle='tab'>C</a></li>
                <li role='presentation'><a href='#tab-3' data-toggle='tab'>D</a></li>
                <li role='presentation'><a href='#tab-4' data-toggle='tab'>E</a></li>
                <li role='presentation'><a href='#tab-5' data-toggle='tab'>F</a></li>
              </ul>
              <div class='tab-content'>
                <div class='tab-pane fade in active' id='tab-1'>
                  <%= render 'tracks/notes/a' %>
                </div>
                <div class='tab-pane fade' id='tab-2'>
                  <%= render 'tracks/notes/c' %>
                </div>
                <div class='tab-pane fade' id='tab-3'>
                  <%= render 'tracks/notes/d' %>
                </div>
                <div class='tab-pane fade' id='tab-4'>
                  <%= render 'tracks/notes/e' %>
                </div>
                <div class='tab-pane fade' id='tab-5'>
                  <%= render 'tracks/notes/f' %>
                </div>
              </div>
              <p>
                <%= f.label :tablature, class: 'notelist' %> 
                <%= f.text_area :tablature, rows: '6', value: '', type: 'text', class: 'form-control text', id: 'text' %>
              </p>
            </div>
          </div>
          <br>
          <%= f.submit 'add note', id: 'new_chord_track', remote: true, class: 'btn btn-success' %>
        </div>
      <% end %>  
    </div>
      <h4>Chords:</h4>
      <div class='col-md-12' id='container-chords'>
        <%= render 'chord' %>
      </div>
  </div>
</div>
