<div class='row'>
  <div class='col-md-12'>
    <center>
    <form action = "" method = "post">
      <input type="submit" class='btn btn-primary' onclick="document.getElementById('text').value+='A '; return false;" value = "A" />
      <input type="submit" class='btn btn-primary' onclick="document.getElementById('text').value+='Am '; return false;" value = "Am" />
      <input type="submit" class='btn btn-primary' onclick="document.getElementById('text').value+='A+ '; return false;" value = "A+" />
      <input type="submit" class='btn btn-primary' onclick="document.getElementById('text').value+='A# '; return false;" value = "A#" />
      <input type="submit" class='btn btn-primary' onclick="document.getElementById('text').value+='Amaj7 '; return false;" value = "Amaj7" />
      <input type="submit" class='btn btn-primary' onclick="document.getElementById('text').value+='Asus4 '; return false;" value = "Asus4" />
      <input type="submit" class='btn btn-primary' onclick="document.getElementById('text').value+='A6 '; return false;" value = "A6" />
      <input type="submit" class='btn btn-primary' onclick="document.getElementById('text').value+='Am6 '; return false;" value = "Am6" />
      <input type="submit" class='btn btn-primary' onclick="document.getElementById('text').value+='A7 '; return false;" value = "A7" />
      <input type="submit" class='btn btn-primary' onclick="document.getElementById('text').value+='Am7 '; return false;" value = "Am7" />
      <input type="submit" class='btn btn-primary' onclick="document.getElementById('text').value+='A#7 '; return false;" value = "A#7" />
      <input type="submit" class='btn btn-primary' onclick="document.getElementById('text').value+='Adim7 '; return false;" value = "Adim7" />
      <input type="submit" class='btn btn-primary' onclick="document.getElementById('text').value+='A7sus4 '; return false;" value = "A7sus4" />
      <input type="submit" class='btn btn-primary' onclick="document.getElementById('text').value+='A9 '; return false;" value = "A9" />
      <input type="submit" class='btn btn-primary' onclick="document.getElementById('text').value+='Am9 '; return false;" value = "Am9" />
    </form>
  </div>
</div>
