<div class='row'>
  <div class='col-md-12'>
    <center>
    <form action = "" method = "post">
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='C '; return false;" value = "C" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='Cm '; return false;" value = "Cm" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='C+ '; return false;" value = "C+" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='C# '; return false;" value = "C#" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='C#m '; return false;" value = "C#m" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='C#+ '; return false;" value = "C#+" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='Cmaj7 '; return false;" value = "Cmaj7" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='C#maj7 '; return false;" value = "C#maj7" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='Csus4 '; return false;" value = "Csus4" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='C#sus4 '; return false;" value = "C#sus4" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='C6 '; return false;" value = "C6" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='Cm6 '; return false;" value = "Cm6" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='C#6 '; return false;" value = "C#6" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='C#m6 '; return false;" value = "C#m6" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='C7 '; return false;" value = "C7" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='Cm7 '; return false;" value = "Cm7" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='C#7 '; return false;" value = "C#7" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='C#m7 '; return false;" value = "C#m7" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='Cdim7 '; return false;" value = "Cdim7" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='C#dim7 '; return false;" value = "C#dim7" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='C7sus4 '; return false;" value = "C7sus4" />
      <input type="submit" class='btn btn-success' onclick="document.getElementById('text').value+='C#7sus4 '; return false;" value = "C#7sus4" />
    </form>
  </div>
</div>
