<div class='row'>
  <div class='col-md-12'>
    <center>
    <form action = "" method = "post">
      <input type="submit" class='btn btn-warning' onclick="document.getElementById('text').value+='F '; return false;" value = "F" />
      <input type="submit" class='btn btn-warning' onclick="document.getElementById('text').value+='Fm '; return false;" value = "Fm" />
      <input type="submit" class='btn btn-warning' onclick="document.getElementById('text').value+='F+ '; return false;" value = "F+" />
      <input type="submit" class='btn btn-warning' onclick="document.getElementById('text').value+='F# '; return false;" value = "F#" />
      <input type="submit" class='btn btn-warning' onclick="document.getElementById('text').value+='Fmaj7 '; return false;" value = "Fmaj7" />
      <input type="submit" class='btn btn-warning' onclick="document.getElementById('text').value+='Fsus4 '; return false;" value = "Fsus4" />
      <input type="submit" class='btn btn-warning' onclick="document.getElementById('text').value+='F6 '; return false;" value = "F6" />
      <input type="submit" class='btn btn-warning' onclick="document.getElementById('text').value+='Fm6 '; return false;" value = "Fm6" />
      <input type="submit" class='btn btn-warning' onclick="document.getElementById('text').value+='F7 '; return false;" value = "F7" />
      <input type="submit" class='btn btn-warning' onclick="document.getElementById('text').value+='Fm7 '; return false;" value = "Fm7" />
      <input type="submit" class='btn btn-warning' onclick="document.getElementById('text').value+='F#7 '; return false;" value = "F#7" />
      <input type="submit" class='btn btn-warning' onclick="document.getElementById('text').value+='Fdim7 '; return false;" value = "Fdim7" />
      <input type="submit" class='btn btn-warning' onclick="document.getElementById('text').value+='F9 '; return false;" value = "F9" />
      <input type="submit" class='btn btn-warning' onclick="document.getElementById('text').value+='Fm9 '; return false;" value = "Fm9" />
    </form>
  </div>
</div>
