<nav class='navbar navbar-inverse'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <i class="fa fa-1x fa-music" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
      <ul class='nav navbar-nav navbar-rleft'>
        <li>
          <%= link_to 'Home', root_path %>
        </li>
        <li>
          <%= link_to 'All tracks', tracks_path %>
        </li>
        <li>
          <%= link_to 'Contacts', contact_path %>
        </li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <% if current_user %>
          <li>
            <%= link_to user_profile_path(current_user, current_user.profile) do %>
              <% if current_user.profile.first_name == nil %>
                <%= current_user.email %>
              <% else %>
                <%= current_user.profile.full_name %>
              <% end %>
              <%= image_tag current_user.profile.avatar.url(:small), class: 'img-circle profile_small' %>
            <% end %>
          </li>
          <li>
            <%= link_to 'Log out', logout_path %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign up', signup_path %>
          </li>
          <li>
            <%= link_to 'Log In', login_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
