/*
 *= require_tree .
 *= require_self
 *= require bootstrap-slider
//= require foundation_and_overrides
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'pageprofile';

body { 
background: url("fon.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#carousel.carousel.slide{
  height: 300px;
}
.btn:hover {
  color: white
}
.item{
  height: 300px;
}
.panel-default {
opacity: 0.9;
margin-top:30px;
}
.form-group.last { margin-bottom:0px; }
.navbar-nav li button {
  margin-top: 8px;
}
.navbar-nav > li > a {
  line-height: 50px;
}
.navbar-brand {
  line-height: 50px;
}
.profile_small{
  width: 50px;
  height: 50px;
}
.navbar-brand img {
  height: 40px
}
.navbar-header {
  padding-left: 50px;
}
.navbar-right {
  padding-right: 50px;
}
.fa-2x {
  font-size: 2em;
  margin-top: 8px;
}
.vk-2x {
  font-size: 2em;
}
select {
  height: 3.4375rem;
  padding: 0.7rem;
}
.notelist {
    color: #F5F5F4;
}
.jtab{
  color:black;
}
.row{
  margin:5px;
}
.tab-content{
  a{color: white;}
}
#chord_note_id{
  outline: none;
  background: transparent;
  border: 1px solid #d6dce0;
  padding: .5em 1.5em;
  border-radius: 1.5em;
    &:hover {
      border: 1px solid #33acb7;
      color: #33acb7;
    a {
      color: #33acb7 !important;
    }
  }
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #1b8214;
}
.btn{
  outline: none;
  background: transparent;
  border: 1px solid #d6dce0;
  padding: .5em 1.5em;
  border-radius: 1.5em;
    &:hover {
      border: 1px solid #33acb7;
      color: white;
    a {
      color: white !important;
    }
  }
}
